.upperLeftSide {
    background: #27283C;
    width: 45%;
    height: 472px;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.upperRightSide {
    background-color: #27283C;
    width: 55%;
    height: 472px;
    border-radius: 14px;
    padding: 20px;
}

.upperLeftSide h1,
.upperRightSide h1,
.lowerLeftSide h1,
.lowerRightSide h1 {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.upperContainer,
.lowerContainer {
    display: flex;
    gap: 20px;
}

.lowerContainer {
    margin-top: 20px;
}

.lowerLeftSide {
    background: #27283C;
    padding: 20px;
    border-radius: 14px;
    height: 472px;
    width: 55%;
}

.lowerRightSide {
    background: #27283C;
    padding: 20px;
    border-radius: 14px;
    height: 472px;
    width: 45%;
}

.doughnut {
    width: 370px;
    height: 400px;
    align-self: center;
}

.offersDiv {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    align-items: center;
    gap: 10px;
    overflow: auto;
    cursor: pointer;
}

.totalSalary {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #1E1E30;
    border-radius: 10px;
}

.loginFirstButton{
    padding: 10px;
    border-radius: 5px;
    background-color: #C035A2;
    color: #fff;
    font-weight: bold;
    border: 2px solid #fff;
}


@media (max-width: 768px) {

    .upperContainer,
    .lowerContainer {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .upperLeftSide,
    .upperRightSide,
    .lowerLeftSide,
    .lowerRightSide {
        width: 90%;
        z-index: 1;
    }

    .doughnut {
        width: 300px;
    }

    .offer h1 {
        font-size: 14px;
    }

    .offer {
        width: 100%;
        height: 80px;
    }
}