.errorMessage {
    background-color: #f44336;
    color: white;
    padding: 16px;
    position: fixed;
    top: 120px;
    right: 20px;
    border-radius: 5px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    animation: fadeOut 3s forwards; /* Starts fading out after 3s */
    z-index: 999;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  