.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
}

.container h1 {
    font-family: "Mukta", sans-serif;
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 0.15000000596046448px;
}

.container p {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.15000000596046448px;
    width: 68%;
    margin-bottom: 150px;
    text-align: center;
}

.container .imagesDiv {
    background-color: #FFB64F;
    width: 65%;
    height: 407px;
    padding: 0;
    margin: 0;
    rotate: 10deg;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

.manImage {
    width: 628px;
    height: 683px;
    rotate: 350deg;
}

@media (max-width: 768px) {
    .container .imagesDiv {
        rotate: 0deg;
        width: 90%;
        height: 400px;
        margin-bottom: 50px;
    }

    .manImage {
        width: 95%;
        height: 317px;
        rotate: 0deg;
    }

    .container p {
        width: 90%;
        font-size: 16px;
        text-align: justify;
        margin-bottom: 60px;
    }

    .container {
        padding-top: 30px;
    }
}